/* SIDEBAR AND FORM CONTAINER */
.content-sidebar-form{
    border: 3px solid rgb(67, 67, 5);
    display: flex;
    margin: 0 auto;
    width: 90%;
}

/* SIDEBAR */
.content-sidebar{
    border: 2px solid rgb(7, 107, 70);
    width: 20%;
    margin: 1em;
}
.content-sidebar ul{margin: 1em;
    padding: 0;
}
.content-sidebar ul li{
    list-style: none;
}
.content-sidebar ul li a{
    text-decoration: none;
    border: 1px solid black;
    display: block;
    padding: 1.2rem;
    
}

/* FORM */
form{
    width: 80%;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    padding: 1.3em 3em;
}
form h2{
    margin: 0.6em 0;
}
form input{
    margin: 0.6em 0em 1.3em;
    line-height: 1.7rem;
    font-size: 1rem;
}
form .buttons button, .edit-org-buttons button{
    border: 1px solid black;
    font-size: 1rem;
    padding: 0.8rem;
    margin: 1em 0 2em;
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
}
form .buttons .cancel, .edit-org-buttons .cancel{
    border: 1px solid black;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 5px;
}

/* ERROR MSG */
.errormsg{
    border: 1px solid rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.254);
    border-radius: 10px;
    margin: 1em 0 2em;
    padding: 1em;
    color: rgb(0, 0, 0);
}

/* SELECT */
/* Style the select element */
select {
    margin: 0.6em 0em 1.3em;
    padding: 0.6rem 0;
    font-size: 1rem;
    border: 1px solid #747474;
    border-radius: 5px;
}

/* Style the options inside the select dropdown */
select option {
    background-color: #fff;
    color: #333;
}

/* Style the selected option */
select option:checked {
    background-color: #f0f0f0;
}

/* Optional: Style the dropdown arrow */
select::-ms-expand {
    display: none;
}

select::after {
    content: "\25BC";  /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
