@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* CONTENT LAYOUT*/
.content-header, .table-header, table, .content-footer, .search-create{
    margin: 0 auto;
    width: 90%;
    padding: 0.6rem;
}

.content-header a,tr td a{
    color: #8f0c0b;
    font-weight: bold;
    text-decoration: none;
}

/* CONTENT HEADER */
.content-header h1{
    font-size: 2.5rem;
    padding: 0 0.6rem;
}

/* SEARCH */
.search-create{
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    padding: 1rem;
    border-radius: 9px;
    border: 2px solid white;
    text-decoration: none;
}

.create-new a{
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid linear-gradient(to right top,#8f0c0b 60%, #dfbf57c8);
    /* border: 2px solid #ffbd00; */
    text-decoration: none;
    color: white;
    font-weight: 400;
    background: linear-gradient(to right top,#8f0c0b 60%, #dfbf57c8);
    /* background: #ffbd00; */
}

.search input, .search button{
    font-size: 1rem;
}

/* TABLE HEADER */
.table-header{
    
    font-size: 1rem;
}

.table-header-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-options, .sort-options-org {
    display: flex;
    align-items: center;
}

.sort-options p, .sort-options-org p{
    margin-right: 1em;
}

.sort-options a{
    /* background: #8f0c0b0c; */
    background: white;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 10px;
    width: 5em;
    text-align: center;
    text-decoration: none;
    color: black;
}

.sort-options-org a{
    /* background: #8f0c0b0c; */
    background: white;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 10px;
    width: 6em;
    text-align: center;
    text-decoration: none;
    color: black;
}

.sort-options .selected, .sort-options-org .selected{
    background: #8f0c0b;
    color: white;
}

/* MSG */
.msg{
    background: rgba(0, 255, 72, 0.254);
    padding: 1.3rem;
    margin: 1.3em 0;
    border-radius: 10px;
}

/* TABLE */

.tablee{
    margin: 0 auto;
    width: 90%;
}

table{
    width: 100%;
    padding-top: 0;
    border-collapse: separate; 
    border-spacing: 0 0.7rem;
}

table a{
    text-decoration: none;
}

th{
    text-align: center;
    font-weight: 600;
    padding: 0.3rem 1rem;
    background: #8f0c0b;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

td {
    text-align: center;
    padding-top: 15px; 
    padding-bottom:15px;
    background: white;
    font-weight: 500;
}

/* tr{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
} */

td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

th:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* CONTENT FOOTER */
.content-footer{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 2em;
    padding-right: 0;
}
.pagination a{
    border: 1px solid black;
    padding: 1rem;
    text-decoration: none;
}

/* EDIT POST */
.post-content{
    padding: 1.5rem;
    border: 1px solid black;
    margin: 0 auto;
    width: 90%;
}

details{
    margin-bottom: 1.3rem;
}

.body-input{
    margin-bottom: 1.5rem;
}

.post-content .image-input, .image-input input{
    font-size: 1rem;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 150px;
    max-height: 200px;
}

.buttons a{
    padding: 1rem;
    border-radius: 9px;
    text-decoration: none;
}

.publish{
    color: blue;
    line-height: 10px;
}

.unpublish{
    color: red;
    line-height: 10px;
}

/* DELETE POST */

.delete-post-buttons button{
    border: 1px solid rgb(0, 0, 0);
    font-size: 1rem;
    padding: 0.8rem 2rem;
    margin: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.delete-post-buttons .cancel{
    border: 1px solid black;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 5px;
}

/* EDIT MEMBERSHIP */

.date-membership{
    margin-top: 1.5rem;
}

.dates{
    display: flex;
    gap: 2rem;
}

.url-membership input{
    width: 100%;
}

#membershipSection{
    display: none;
}


/* SORT AND FILTER TICKETS */
.sort-filter{
    display:  flex;
    align-items: center;
}

.filter-options{
    display:  flex;
    align-items: center;
    margin-left: 1rem;
}

.filter-options select{
    margin-left: 1rem;
    padding: 0.5rem;
}

.content{
    padding: 1.2rem 0;
    border-radius: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

#table-header-title{
    min-height: fit-content;
    overflow: hidden;
}